.user-profile {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: auto;				
					}
	.user-info {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: 50%;
					}		
			.user-photo {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: 50%;
					}
			.user-proyects {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: 50%;
					}
	.user-stamps {
					text-align: center;
					border-bottom: 1px solid grey;
					width:50%;
							}
			.user-objetives {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: 50%;
					}					
			.user-winstamps {
					text-align: auto;
					border-bottom: 1px solid grey;
					width: 50%;
					}							